html,body {
    --font-size: 16px;
    margin: 0;
    padding: 0;
    font-size: var(--font-size);
    font-family: Inter,sans-serif;
    word-break: break-word;
}
* , *:before, *:after {
    box-sizing: border-box;
}

.contenair{
    max-width: calc(100% - 2rem);
    display:grid;
    justify-self: center;
    background-color: aqua;
}
header{
    background-color:red;
}
.box-btn{
    position: relative;
    display: flex;
    justify-content: flex-end;
}
.btn{
    position: relative;
    background-color: silver;
    border-radius: 5px;
    padding: 12px 16px;
    margin: 0 8px 16px;
    font-size:16px;
    top:8px;

}
.btn:hover{
    box-shadow:black 0 5px 1px 1px;
    top:-8px;
}
.box-banier{
    max-width: calc(100% - 2rem);
    margin-inline: auto;
    background-color: orange;
}
header > svg {
    margin-bottom: -7px;
}

@media screen and (min-width :600px){
    html,body{
        --font-size: 22px;
    }
    .contenair{
        width:75%;
    }

    .titre{
        font-size:52px;
    }
    header{
        background-color:blue;
    }
    .btn{
        font-size:16px;
    }
    .body-banier{
        margin: 0 12px;
    }
}

@media screen and (min-width :1200px){
    html,body{
        --font-size: 26px;
    }
    .contenair{
        width:1200px;
    }
    header{
        background-color:green;
    }
}